{% extends 'admin/layouts/index.html.twig' %}
{% from 'admin/component.html.twig' import navigate,text,dateView %}


{% block content %}
    {% set _body %}
        <div class="row">
            <div class="col-12">
                {{ text("Nom",workFunction.name) }}
            </div>
        </div>
        {{ dateView(workFunction) }}
    {% endset %}

    {% embed "admin/components/display-view.html.twig" with {edit:path('work_function.edit',{id:workFunction.id}),delete:{url:path('work_function.destroy',{id:workFunction.id})}} %}
        {% block body %} {{ _body }} {% endblock %}
    {% endembed %}
{% endblock %}

{% block title %}
    Information
{% endblock %}
{% block navigate %}
    {{ navigate([{url:path('admin_home.index'),label:'Accueil'},{url:path('work_function.index'),label:'Fonctions'},{url:path('work_function.show',{id:workFunction.id}),label:'Informations'}]) }}
{% endblock %}