<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <title>Jumia CI | Vente en ligne Épicerie, Santé &amp; Hygiène, Téléphones, TV, Jeux Vidéos</title>
    <meta property="og:type" content="product"/>
    <meta property="og:site_name" content="Akmart"/>
    <meta property="og:title"
          content="Akmart | Vente en ligne Épicerie, Santé &amp; Hygiène, Téléphones, TV, Jeux Vidéos"/>
    <meta property="og:description"
          content="Restez chez vous, on vous livre tout ! Achetez en ligne tous les produits Essentiels ✔ Supermarché, Produits de nettoyage, Vitamines, Jeux Vidéos, TV, Puériculture et plus encore ✔ Toutes les marques à petits prix : Dettol, Samsung, Tecno, LG, HP, Nike ✈ Livraison rapide partout en Côte d'Ivoire : Abidjan, Bouaké... ✔ Paiement à la livraison"/>
    <meta property="og:url" content="/"/>
    <meta property="og:image" content="https://ci.jumia.is/cms/Homepage/jumialogonew.png"/>
    <meta property="og:locale" content="fr_CI"/>
    <meta name="title" content="Jumia CI | Vente en ligne Épicerie, Santé &amp; Hygiène, Téléphones, TV, Jeux Vidéos"/>
    <meta name="robots" content="index,follow"/>
    <meta name="description"
          content="Restez chez vous, on vous livre tout ! Achetez en ligne tous les produits Essentiels ✔ Supermarché, Produits de nettoyage, Vitamines, Jeux Vidéos, TV, Puériculture et plus encore ✔ Toutes les marques à petits prix : Dettol, Samsung, Tecno, LG, HP, Nike ✈ Livraison rapide partout en Côte d'Ivoire : Abidjan, Bouaké... ✔ Paiement à la livraison  "/>

</head>

</html>