#account-search {

  display: flex;
  background-color: $white;
  padding: 16px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;


  &#{'-content'} {
    width: 50%;
    display: flex;
    &#{'-field'} {
      flex: 1;
      input{
        width: 100%;
        padding: 6px 8px;
        border: 2.2px solid $gray-400;
        &:focus{
          outline: none;
          border-color: $primary;
        }
      }
    }

    &#{'-button'} {
      button{
        height: 100%;
        color: $white;
        background-color: $primary !important;
        border: 1px solid $primary !important;
        padding: 0 16px;
        text-transform: uppercase;
      }
    }
  }

}
#account-exist-view{
  background-color: $warning;
  text-align: center;
  padding: 6px 4px;
  color: $white;
  border-radius: 2px;
  width: 100%;
  margin-top: 12px;
  font-weight: 700;
  display: none;
}
#account-search-loader{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba($white,0.8);
  display: none;
  justify-content: center;
  align-items: center;
  #loader{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-top: 2px solid $primary;
  }
}